<!-- formulario.component.html -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Formulario de Registro</h2>
  
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="bg-light p-4 rounded shadow">
      <div class="form-group mb-3">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" ngModel required class="form-control" />
      </div>
      
      <div class="form-group mb-3">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" ngModel required email class="form-control" />
      </div>
  
      <div class="form-group mb-3">
        <label for="phone">Número de teléfono</label>
        <input type="text" id="phone" name="phone" ngModel required class="form-control" />
      </div>
  
      <div class="form-group mb-3">
        <label for="address">Dirección</label>
        <input type="text" id="address" name="address" ngModel required class="form-control" />
      </div>
  
      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary w-100">Enviar</button>
    </form>
  
    <div *ngIf="formSubmitted" class="alert alert-success mt-3">
      ¡La información se ha enviado correctamente!
    </div>
  </div>
  